// scss-lint:disable QualifyingElement, PropertyCount

.byu-group {
	display: inline-block;
	width: 30.9%;
}

.byu-group label {
	margin-top: 0;
}

#mem-group {
	width: 100%;
}

#mem-group input {
	width: 75%;
	float: left;
}

#mem-group select {
	width: 25%;
	float: left;
}

// Patch for missing appearance css extensions

@mixin range-thumb {
  background: $color-gray-lightest;
  box-shadow: 0 0 0 1px $color-gray-medium;
  border-radius: 1.5rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}

#BYUJobScriptGenerator {
	input, textarea, select {
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	[type=range] {
		-moz-appearance: none;
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
    			@include range-thumb;
    			appearance: none;
    			-webkit-appearance: none;
    			margin-top: -0.6rem;
		}
	}
}
